.container {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: antiquewhite;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #222;
  color: white;
}

img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.shonen {
  background-color: #86bde5;
  font-weight: bold;
}

.high-price {
  color: red;
  font-weight: bold;
}

.low-price {
  color: green;
}

.good-rating {
  color: darkgreen;
  font-weight: bold;
}

.bad-rating {
  color: orange;
}

.out-stock {
  background-color: #ffcdd2;
  color: red;
  font-weight: bold;
}

.in-stock {
  background-color: #c8e6c9;
  color: green;
}
