.footer {
  background-color: #0f172a;
  text-align: center;
  color: #38bdf8;
  font-size: x-large;
  padding: auto;
}
.footer {
  background-color: #0f172a;
  height: 100px;
  width: 100%;
  color: #38bdf8;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.footer h1 {
  font-size: 48px;
  margin: 0;
  color: #38bdf8; /* normal red */
  transition: color 0.3s ease; /* smooth change */
  cursor: pointer;
}

.footer h1:hover {
  color: rgb(0, 0, 255); /* bright red on hover */
}

.footer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0; /* Changed from bottom to top */
  width: 100%;
  height: 3px;

  background: linear-gradient(90deg, transparent, rgb(0, 0, 255), transparent);

  background-size: 200% 100%;
  animation: glowMove 2s linear infinite;
}

/* Animation (same as header) */
@keyframes glowMove {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
