.header {
  background-color: #0f172a;
  height: 100px;
  width: 100%;
  color:  #38bdf8;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header h1 {
  font-size: 48px;
  margin: 0;
  color:  #38bdf8; /* normal red */
  transition: color 0.3s ease; /* smooth change */
  cursor: pointer;
}

.header h1:hover {
  color: rgb(0, 0, 255); /* bright red on hover */
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, rgb(0, 0, 255), transparent);
  background-size: 200% 100%;
  animation: glowMove 2s linear infinite;
}

/* Animation */
@keyframes glowMove {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}