body{
    background-color: grey;
}
.home {
    background-color: #0f172a;
}
.home  h1{
    text-align: center;
    font-size: 60px;
    color: skyblue;
    border: 2px solid skyblue;
    transition: color 0.35 ease-in;
    border-radius: 1vh;
}
.home h1,h2:hover{
    color :aqua;
}   
.home h3{
    text-align: left;
    color: skyblue;
    padding-top: 5px;
}
.home li{
    padding: 2px;
    font-size: x-large;
    color: antiquewhite;
}
.home b{
    color: aliceblue;

}
.home h2{
    text-align: center;
    font-size: 50px;
    color: skyblue;
    border: 2px solid skyblue;
    transition: color 0.35 ease-in;
    border-radius: 1vh;
}
