body{
    background-color:black;
}
.teams{
     background: black;
     position: relative;
     color: aliceblue;
     padding-right: 5px; 
}
.teams h1{
    text-align: center;
    font-size: 60px;
    color: red;
}
.teams img{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: calc(50%);
  border-color: black; 
}
.teams li{
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 20px ;
}